body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 200px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Photographer";
    color: rgb(11, 139, 243);
    animation: words 25s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #000;
    border-left: 2px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 18s steps(20) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #000;
    }
} 

@keyframes words {
    0%, 23%{
        content: "Photographer"
    }
    24%, 45%{
        content: "Driver"
    }
    46%, 65%{
        content: "Developer"
    }
    66%, 80%{
        content: "Designer"
    }
    81%, 100%{
        content: "Programmer"
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,10%,25%,30%,45%,50%,65%,70%,85%,90%{
        width: calc(100% + 8px);
    }
}